<template>
   <h1>Choose to continue or quit the Trivia</h1>
   <div v-if="idn <= number">
      <button @click="onNext">Next question</button>
   </div>
   <div v-else>
      <button @click="onFinish">Finish</button>
   </div>

   <button @click="onQuit">Quit Game</button>
</template>

<script setup>
//Importing
import { computed } from '@vue/runtime-core';
import { useRouter } from 'vue-router';
import store from '../store';
import { UpdateScore } from '../API/updateAPI';

//Initializing variables, getting values from store
const idn = computed(() => store.getters.getIndex);
const cQues = computed(() => store.state.numberOfQ);
const id = computed(() => store.state.userId);
const getHighScore = computed(() => store.getters.getHighScore);
const getScore = computed(() => store.getters.getScore);
let number = cQues.value - 1;
const router = useRouter(); //using router

//Button functions
const onNext = () => {
   router.push('/questions');
};

const onQuit = () => {
   store.commit('setUser', null);
   store.commit('setNumberOfQ', null);
   store.commit('setGenre', null);
   store.commit('setLevel', null);
   store.commit('setCurrentScore', 0);
   store.commit('setHighScore', 0);
   store.commit('setIndex', 0);
   store.commit('setQuestions', []);
   store.commit('clearAnswers', []);
   store.commit('clearQuestions', []);
   store.commit('setUserId', 0);
   router.push('/');
};

const onFinish = () => {
   router.push('/Result');
   scoreChecker();
};

//Functions

async function scoreChecker() {
   if (getScore.value > getHighScore.value) {
      store.commit('setHighscore', getScore.value);
      const updated = await UpdateScore(id.value, getScore.value);
   }
}
</script>

<style scoped>
button {
   background-color: #ffeead;
   font-family: cursive;
   color: black;
   height: 35px;
   width: 150px;
   margin-bottom: 10px;
}

button:hover {
   background-color: white;
   color: #2f3a8f;
}

h1 {
   font-family: cursive;
}
</style>
