<script setup>
import { ref } from '@vue/reactivity';
import { computed, onBeforeMount } from '@vue/runtime-core';
import { useRouter } from 'vue-router';
import store from '../store';
import { reactive } from 'vue';
import { onMounted } from 'vue';
import { toRaw } from 'vue';

//API

let quizQuestionsArray = reactive([]);

let target_copy = toRaw(quizQuestionsArray);

let isLoaded = ref(false);

const loadQuizInfo = async function () {
   await fetch(fixURL(num.value, genre.value, level.value))
      .then((response) => response.json())
      .then((result) =>
         result.results.forEach((question) => {
            quizQuestionsArray.push(question);
         }, (isLoaded.value = true))
      )
      .catch((e) => {
         console.log(e);
      });
};

onMounted(() => {
   loadQuizInfo();
});
//API stops here

//initializing and setting values,needs some fixing with more getters
const router = useRouter();
const user = computed(() => store.state.user); //fix with getter
const currentSc = computed(() => store.state.currentScore); //fix with getter
let i = computed(() => store.getters.getIndex);
const num = computed(() => store.state.numberOfQ); //fix with getter
const genre = computed(() => store.state.genre); //fix with getter
const level = computed(() => store.state.level); //fix with getter
const cQues = computed(() => store.getters.getQues.length);
let currentUserScore = currentSc.value; //initializing score and using it later

//functions

//fixing URL to load API correctly
const fixURL = (
   number = num.value,
   genre = genre.value,
   diff = level.value
) => {
   let fixed =
      'https://opentdb.com/api.php?amount=1' +
      '&category=' +
      genre +
      '&difficulty=' +
      diff.toLowerCase();
   return fixed;
};

//Button functions

//going back to start page and resetting all information stored in the store
const btnBack = () => {
   store.commit('setUser', null);
   store.commit('setNumberOfQ', null);
   store.commit('setGenre', null);
   store.commit('setLevel', null);
   store.commit('setCurrentScore', 0);
   store.commit('setHighScore', 0);
   store.commit('setIndex', 0);
   store.commit('setQuestions', []);
   store.commit('clearAnswers', []);
   store.commit('clearQuestions', []);
   store.commit('setUserId', 0);
   router.push('/');
};

//Prints the answer you click on to the console and increases the current score and increases the index within the function and sent to a "between page",
//One function for correct answer and one for incorrect.
const showAns = (ans) => {
   if (ans === target_copy[0].correct_answer) {
      currentUserScore += 10;
      store.commit('setCurrentScore', currentUserScore);
   }
   store.commit('setIndex', i.value + 1);
   store.commit('setAnswers', ans);
   store.commit('setQuestions', target_copy[0]);
   router.push('/questionlanding');
};

const fixDisplay = (input) => {
   input = input.replace(/&#039;/g, "'");
   input = input.replace(/&quot;/g, ' " ');
   input = input.replace(/&and;/g, ' & ');
   return input;
};

function scrambler(correct, incorrect) {
   let answerArray = correct.concat(incorrect);
   return shuffle(answerArray);
}
function shuffle(array) {
   array.sort(() => Math.random() - 0.5);
   return array;
}
</script>

<template>
   <div v-if="isLoaded">
      <div class="questionField">
         <div class="questionBox">
            <p id="question">{{ fixDisplay(target_copy[0].question) }}</p>
            <button
               v-for="ans in scrambler(
                  target_copy[0].incorrect_answers,
                  target_copy[0].correct_answer
               )"
               :key="ans"
               @click="showAns(ans)"
            >
               {{ fixDisplay(ans) }}
            </button>
         </div>
         <button id="exitButton" @click="btnBack">Quit game</button>
      </div>
   </div>

   <div class="lds-spinner" v-else>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
   </div>
</template>

<style scoped>
button {
   background-color: #fe7e6d;
   font-family: helvetica;
   font-weight: bold;
   color: black;
   height: 50px;
   width: 175px;
   margin-bottom: 10px;
   font-size: 15px;
   margin-right: 25px;
   margin-top: 10px;
   position: relative;
   left: 12%;
   top: 20%;
}
button:hover {
   background-color: #ffeead;
}

#exitButton {
   position: relative;
   font-size: 17px;
   color: #ffeead;
   top: -10%;
   left: 80%;
   background-color: #2f3a8f;
   box-shadow: black 2px 2px;
}
#exitButton:hover {
   background-color: #ffeead;
   color: #2f3a8f;
}

#question {
   color: white;
}

h1 {
   font-family: cursive;
}

p {
   font-family: helvetica;
   font-weight: bold;
   font-size: 18px;
   position: relative;
   left: 5%;
   top: 5%;
}
.questionField {
   height: 300px;
   align-items: center;
   justify-items: center;
   justify-content: center;
   background-color: #fe7e6d;
}
.questionBox {
   position: relative;
   top: 10%;
   left: 33%;
   height: 250px;
   width: 500px;
   background-color: #2f3a8f;
   box-shadow: #ffeead 5px 5px;
   word-break: break-all;
}

.lds-spinner {
   color: official;
   display: inline-block;
   position: relative;
   width: 80px;
   height: 80px;
}
.lds-spinner div {
   transform-origin: 40px 40px;
   animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
   content: ' ';
   display: block;
   position: absolute;
   top: 3px;
   left: 37px;
   width: 6px;
   height: 18px;
   border-radius: 20%;
   background: black;
}
.lds-spinner div:nth-child(1) {
   transform: rotate(0deg);
   animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
   transform: rotate(30deg);
   animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
   transform: rotate(60deg);
   animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
   transform: rotate(90deg);
   animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
   transform: rotate(120deg);
   animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
   transform: rotate(150deg);
   animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
   transform: rotate(180deg);
   animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
   transform: rotate(210deg);
   animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
   transform: rotate(240deg);
   animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
   transform: rotate(270deg);
   animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
   transform: rotate(300deg);
   animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
   transform: rotate(330deg);
   animation-delay: 0s;
}
@keyframes lds-spinner {
   0% {
      opacity: 1;
   }
   100% {
      opacity: 0;
   }
}
</style>
