<template>
   <h1>Result Screen</h1>

   <h3>Congratulations on conmpleting the trivia</h3>
   <p>Hope you had funsies!</p>
   <p>You final score was {{ finalscore }}</p>
   <p v-for="q in QuesToRaw" :key="q">
      {{ fixDisplay(q.question) }} <br />
      Correct answer: {{ fixDisplay(q.correct_answer) }} <br />
      Your answer: {{ fixDisplay(q.selectedAnswers) }} <br />
      All answers:{{ q.incorrect_answers }}"
   </p>

   <button @click="btnBack">Go to start screen</button>
   <button @click="btnRestart">Replay</button>
</template>

<script setup>
//Importing
import store from '../store';
import { useRouter } from 'vue-router';
import { computed, toRaw } from '@vue/runtime-core';

//Initialising router routes
const router = useRouter();
//Initializing variables from store
const finalscore = computed(() => store.getters.getScore);
const Ques = computed(() => store.getters.getQues);
const Ans = computed(() => store.getters.getAns);

//this is only used to push antoher element into every questions for full display at the end, from *
let AnsToRaw = toRaw(Ans.value);
let QuesToRaw = toRaw(Ques.value);

for (let i = 0; i < AnsToRaw.length; i++) {
   QuesToRaw[i].selectedAnswers = AnsToRaw[i];
   QuesToRaw[i].incorrect_answers.push(QuesToRaw[i].correct_answer);
}
// to *

//Functions
const fixDisplay = (input) => {
   input = input.replace(/&#039;/g, "'");
   input = input.replace(/&quot;/g, ' " ');
   input = input.replace(/&and;/g, ' & ');
   return input;
};

//Button functions

//Resetting everything and sending back to start screen
const btnBack = () => {
   store.commit('setUser', null);
   store.commit('setNumberOfQ', null);
   store.commit('setGenre', null);
   store.commit('setLevel', null);
   store.commit('setCurrentScore', 0);
   store.commit('setHighScore', 0);
   store.commit('setIndex', 0);
   store.commit('setQuestions', []);
   store.commit('clearAnswers', []);
   store.commit('clearQuestions', []);
   store.commit('setUserId', 0);
   router.push('/');
};

//Resetting all except genre,level and numberofQ to replay with different questions and sending to question screen
const btnRestart = () => {
   store.commit('setCurrentScore', 0);
   store.commit('setCurrentScore', 0);
   store.commit('setIndex', 0);
   store.commit('setQuestions', []);
   store.commit('clearAnswers', []);
   store.commit('clearQuestions', []);
   router.push('/questions');
};
</script>

}

<style scoped>
h1 {
   font-family: cursive;
}
h3 {
   font-family: cursive;
}

p {
   font-family: cursive;
}
</style>
