<script setup>
//Import
import { computed } from '@vue/runtime-core';
import { useStore } from 'vuex';
import LoginForm from '../components/LoginForm.vue';
//Initializing variables
const store = useStore();
const user = computed(() => store.state.user); //not used
</script>

<template>
   <div class="backgrounder">
      <h1>Configurate your trivia game</h1>
      <LoginForm />
   </div>
</template>

<style scoped>
h1 {
   color: #ffeead;
   font-family: helvetica;
   position: relative;
   left: 33%;
   text-shadow: black 1px 1px;
}
.backgrounder {
   background-color: #fe7e6d;
   height: 450px;
}
</style>
