<template>
   <div class="LoginDiv">
      <form @submit.prevent="onSubmit">
         <fieldset>
            <label for="username"> Username </label>
            <input
               type="text"
               id="username"
               placeholder="Jomas"
               v-model="username"
               required="true"
            />
         </fieldset>
         <fieldset>
            <label for="genre"> Genre </label>
            <select v-model="genre" id="genre" required="true">
               <option
                  v-for="genre in genreArray"
                  :key="genre.id"
                  :value="genre.id"
               >
                  {{ genre.name }}
               </option>
            </select>
         </fieldset>

         <fieldset>
            <label for="numberQ">Number of questions</label>
            <input
               type="number"
               id="numberQ"
               placeholder="1"
               v-model.number="numberQ"
               min="1"
               max="20"
               required="true"
            />
         </fieldset>

         <fieldset>
            <label for="diff"> Difficulty </label>
            <select v-model="diff" id="diff" required="true">
               <option>Easy</option>
               <option>Medium</option>
               <option>Hard</option>
            </select>
         </fieldset>

         <button type="submit">LET'S GO</button>
      </form>
   </div>
</template>

<script setup>
//Importing
import { ref } from '@vue/reactivity';
import { onMounted } from '@vue/runtime-core';
import { useRouter } from 'vue-router';
import { useStore } from 'vuex';
import { reactive } from 'vue';
import { apiUserLogin } from '../API/UserAPI';

//Initializing variables
const store = useStore();
const username = ref('');
const genre = ref('');
const numberQ = ref(0);
const diff = ref('');
let id = ref('');
let highScoreRecord = ref(0);
//Initializing router routes
const router = useRouter();

//Button functions
const onSubmit = async () => {
   const loginSuccess = await apiUserLogin(username.value);
   id = await loginSuccess.id;
   highScoreRecord = await loginSuccess.score;
   router.push('/questions');
   onSuccess();
};

const onSuccess = () => {
   store.commit('setUser', username); //commit = mutations
   store.commit('setGenre', genre);
   store.commit('setLevel', diff);
   store.commit('setUserId', id);
   store.commit('setNumberOfQ', numberQ);
   store.commit('setHighScore', highScoreRecord);
};

//Loading genres from API
const genreArray = reactive([]);

const loadGenre = () => {
   fetch('https://opentdb.com/api_category.php')
      .then((response) => response.json())
      .then((result) =>
         result.trivia_categories.forEach((category) => {
            genreArray.push(category);
         })
      );
};
onMounted(() => {
   loadGenre();
});
</script>

<style scoped>
button {
   background-color: #fe7e6d;
   font-family: helvetica;
   color: black;
   height: 35px;
   width: 150px;
   margin-bottom: 10px;
   font-weight: bold;
}

button:hover {
   background-color: white;
   color: #2f3a8f;
}

fieldset {
   background-color: #ccd1e4;
   margin-bottom: 10px;
   border-radius: 1px;
   width: 400px;
   border: 0px solid;
   box-shadow: #37465b 1px 1px 1px;
}

.LoginDiv {
   position: relative;
   left: 19%;
   top: 0%;
   font-family: Helvetica;
   font-weight: bold;
   background-color: #2f3a8f;
   padding-top: 20px;
   height: 300px;
   width: 800px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 2px;
   border: #fe7e6d solid 1px;
   box-shadow: #ffeead 5px 5px;
}
</style>
