<script setup>
//Importing
import { computed } from '@vue/runtime-core';
import { useStore } from 'vuex';

//Initializing variables from store
const store = useStore();
const user = computed(() => store.state.user);
const score = computed(() => store.state.currentScore);
const highScore = computed(() => store.getters.getHighScore);
</script>

<template>
   <header><h1>Trivia Game</h1></header>
   <div class="header-div">
      <div id="headerer">
         <p v-if="user != null">Username: {{ user }}</p>
         <p v-if="user != null">Your highscore is: {{ highScore }}</p>
         <p v-if="user != null">Your current score is: {{ score }}</p>
      </div>
   </div>
   <router-view> </router-view>
   <footer>
      <p>
         Made by
         <a href="https://gitlab.com/thumas" target="_blank">Thomas</a> and
         <a href="https://gitlab.com/Klutcharn" target="_blank">Joachim</a>
      </p>
   </footer>
</template>

<style scoped>
header {
   font-family: cursive;
   background-color: #2f3a8f;
   height: 100px;
   text-align: center;
   font-size: 36px;
   color: white;
   margin-top: -50px;
}
#headerer {
}

a {
   color: #ffeead;
}
h1 {
   font-family: helvetica;
   color: #fe7e6d;
   text-shadow: 3px 2px #ffeead;
}

footer {
   font-family: helvetica;
   color: whitesmoke;
   display: flex;
   background-color: #212b38;
   height: 200px;
   justify-content: center;
}

.header-div {
   color: #2f3a8f;
   font-weight: bold;
   background-color: #ffeead;
   position: relative;
   margin-top: -16px;
   margin-bottom: -22px;
   text-align: center;
   font-family: helvetica;
   padding-top: 1px;
   padding-bottom: 1px;
}
</style>
